<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to the PowerMall</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="login.html">The Power Mall </a>
			</div>
			<ul class="nav navbar-nav">
				<li><a th:href="@{/producer/loginPage}">Login</a></li>
			</ul>
			<ul class="nav navbar-nav" >
				<li><a th:href="@{/producer/loginPage}">Register</a></li>
			</ul>
		</div>
	</nav>
	<div style="background-image: url('images/renewable-energy-development-desert-wind-lot-plane-wallpaper.jpg'); background-size: max-width max-height; height: auto; "></div>
</body>
</html>